@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tungsten';
  src: url('../public/fonts/tungsten/Tungsten-Medium.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Tungsten';
  src: url('../public/fonts/tungsten/Tungsten-SemiBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Tungsten';
  src: url('../public/fonts/tungsten/Tungsten-Bold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Geizer';
  src: url('../public/fonts/geizer/Geizer.otf');
  font-weight: 400;
}

html, body {
  background: #f4ed3f;
  background-image: url('../public/images/yellow-grunge-repeat.jpg');
  background-repeat: repeat;
  background-size: 350px;
}